[2014-12-02 00:03] jeffandersen opened #1 "Error detection, error first convention?"
I would expect error handling to be supported at the module level, otherwise I end up having to wrap the module myself just to add a simple `if (data.error)` to each callback.

[code]

[2015-02-04 03:03] whatadewitt commented on #1
It's been a while, but I've finally started on this! Hopefully will have some updates up soon, been tough since the baby came :D

[2015-02-05 01:46] #1 closed

[2015-11-05 21:33] kterusaki opened #2 "Question about user authentication"
What is the client token and client secret? This is separate from the application token and application secret provided by Yahoo when you make a custom app, correct?

is the Y!CLIENT_TOKEN AND Y!CLIENT_SECRET, the access token and refresh token respectively?

[code]

I'm not using passport. Unfortunately, I couldn't get that to work so I'm building out custom OAuth 2.0 with Yahoo

[2015-11-05 22:17] whatadewitt commented on #2
You're correct. Some calls will require user level authentication rather than application level. The most obvious example of this is when you're trying to get data for a particular user, or you're trying to access data from a league that is not public.

If you have any sort of OAuth set up, you should have access to the client token and secret when you authenticate against Yahoo!

That said, you'r

[2015-11-05 23:10] kterusaki commented on #2
That'd be awesome if your library handled oauth as well. I'm still in the process of building it out, so I'll post when finished and maybe you can incorporate it in.

I tried using your custom passport strategy, but couldn't get it to work, so I decided to follow the Yahoo OAuth 2.0 docs to gain access tokens. Maybe if you can explain how it works, I can try it out again (Should I post questions a

[2015-11-05 23:44] whatadewitt commented on #2
If you check out the sandbox project, it should give you an idea on how to use that strategy.

Let me know if there are any hiccups!

[2015-11-06 23:45] kterusaki commented on #2
I just realized you're using OAuth 1.0. Are you planning on upgrading to OAuth 2.0?

[2015-11-09 00:07] whatadewitt commented on #2
I don't believe that it would work with the fantasy api, per their docs

https://developer.yahoo.com/oauth2/guide/

[2015-11-09 18:09] kterusaki commented on #2
Nope OAuth 2.0 works with the fantasy api too. I just checked by gaining an access token via OAuth 2.0 and hitting 'https://fantasysports.yahooapis.com/fantasy/v2/users;use_login=1/games'. I specified the access token like so:

'Authorization: Bearer: {access_token}'

[2015-11-09 18:56] whatadewitt commented on #2
Well their docs lie :P

I'll take a look, I might have some time this coming weekend, but I don't know for sure. In the meantime can you not log in with 2.0 and still use the API?

[2015-11-10 19:25] kterusaki commented on #2
I've actually changed your code to support OAuth 2.0. How should a user choose between OAuth 1.0 vs. 2.0 or do you want your library to migrate to 2.0 completely? I'll test all methods and then I can submit a pull request.

[2015-11-12 14:44] whatadewitt commented on #2
Please do!

[2016-04-12 02:34] ryus08 opened #3 "Roster player mappings missing"
First, love the wrapper. Real sleek. Way to hide that nasty model they expose.

When I got the roster players resource, I noticed that it was missing a few things I expected, namely:

* selected_position
* starting_status
* is_editable
* image_url

Looks like when the library flattens the sub-objects under player, it misses those first three fields. Additionally, it only takes the first property o

[2016-04-12 11:34] whatadewitt commented on #3
Hey @ryus08,

That would be great! I'm pretty slammed at work this week, but I would love a PR to fix these issues! I'll try to get to it in the free time I can find!

Thanks!!

--d

[2016-04-12 12:33] ryus08 commented on #3
Cool, I'll file it tomorrow.

One last thing, I'd gladly add a test, but I don't see them anywhere. I do see some Downloading your npm package.

If you point me to them, I'll add one.

No rush.

[2016-04-12 17:19] whatadewitt commented on #3
I'm actually working on these in the little free time that I have right now. For now, don't worry about it (awful to say, I know)

[2016-04-12 17:22] ryus08 commented on #3
Ha, no judgement. If you want a hand, let me know.

[2016-04-19 08:15] githubsmilo commented on #2
Are you working to converse from OAuth 1.0 to OAuth 2.0 now? I think `express` and `express-session` modules are needed to support auth callback page. If you not worked, I will try it.

[2016-04-19 13:44] whatadewitt commented on #2
I am planning to do this, but I want to move the authentication into the library itself. I already have the refresh token being generated, so it's probably a good idea to move that all into one spot and allow people to pass in user keys/secrets if they want to use a different login.

[2016-04-20 03:20] githubsmilo commented on #2
@whatadewitt
Do you mean that external application(or external library) must handle the authentication process? If so, we need to handle an access token only given by OAuth 2.0.

[2016-04-20 03:48] githubsmilo commented on #2
@whatadewitt
I worked something. :smile:

* branch : [githubsmilo / remove_auth_proess_for_oauth2.0](https://github.com/githubsmilo/yfsapi/commits/remove_auth_proess_for_oauth2.0)
* commit : [Remove the authentication process for OAuth 2.0](https://github.com/githubsmilo/yfsapi/commit/1e0f1025a309fcb32250497e895cbfa5a6e7176a)

I tested below APIs and had success. I will try other APIs later.

* yf

[2016-04-20 06:23] githubsmilo commented on #2
@whatadewitt
I uploaded my OAuth 2.0 test application to my [remove_auth_process_for_oauth2.0 branch](https://github.com/githubsmilo/yfsapi/commits/remove_auth_process_for_oauth2.0).
* commit : [Implement test app for OAuth 2.0 + YahooFantasy](https://github.com/githubsmilo/yfsapi/commit/66b543e1dd8532dfa5510c5ab1c507d9f27b5490)

README.md is [here](https://github.com/githubsmilo/yfsapi/blob/remov

[2016-04-20 11:07] whatadewitt commented on #2
I haven't looked through this fully, but I certainly don't want to bloat the API with a server/HTML/CSS etc. I have the sandbox which runs here http://yfantasysandbox.herokuapp.com/ which I use for testing the API and it's calls/responses.

The code for this can be found here: https://github.com/whatadewitt/yahoofantasysandbox

[2016-04-20 11:40] githubsmilo commented on #2
@whatadewitt
I understand. I will seperate my test application to a new repository.

[2016-04-20 14:55] githubsmilo commented on #2
@whatadewitt
What is your plan to apply OAuth 2.0 ? I think that the authentication process must be seperated from yfsapi. So I made [a pull request](https://github.com/whatadewitt/yfsapi/pull/5) to implement it. Please do code review.

[2016-04-21 09:32] githubsmilo opened #6 "[Discussions] Add new APIs to add/drop players"
We need to use [POST http request](https://developer.yahoo.com/fantasysports/guide/#post).
How about do you add these APIs?

[2016-04-21 17:44] whatadewitt commented on #6
I'm working on some of these in the very little spare time I have.

Adding them wouldn't be much different from what I have, just need to POST the proper data set to the endpoint on the Yahoo! server. Feel free to take a crack at it and submit a PR, or if you're comfortable waiting, I'll get to it eventually :)

[2016-04-21 17:44] #3 closed

[2016-04-21 17:51] ryus08 commented on #6
I believe I have a branch in place that implements the PUT to update a roster. The transactions resource to POST an add/drop should be similar. I could take a crack at it.

[2016-04-21 21:26] githubsmilo commented on #6
@whatadewitt @ryus08
I completed to implement below new add/drop player APIs. 😃  [(commit link)](https://github.com/githubsmilo/yfsapi-without-auth/commit/3861070f713e5af62e17e819216dc7e670f43e16)
I had the success to test three APIs.

* transactions.add_player(..)
* transactions.drop_player(..)
* transactions.adddrop_players(..)

Changes are here.

* [Rename previous `api` function to `callGetReq

[2016-04-22 01:31] githubsmilo opened #7 "[Discussions] Add docs/api.md for documentation"
Use [Markdox](https://github.com/cbou/markdox) to generate markdown document.
Example: ([game.leagues](http://yfantasysandbox.herokuapp.com/resource/game/leagues))

First, add comments to the game.leagues API.
[code]

Second, execute markdox.
[code]

api.md is below.

## game.leagues
With the Game API, you can obtain the fantasy game related information, like the fantasy game name, the Yahoo! game

[2016-04-24 00:15] whatadewitt commented on #6
@githubsmilo I'll take a look and see if I can get this built into what I'm working on... I generally think I'd rather keep using the API call and pass the method along inside the call...

[2016-04-24 13:44] githubsmilo commented on #6
@whatadewitt
Great idea! I will follow you.

[2016-04-26 03:02] #7 closed

[2016-05-09 00:29] whatadewitt opened #11 "Selected Position / Status Question"
Hi @ryus08,

Making some changes to the Roster resource and I notice that the PR you submitted sends back coverage type and date along with what we're really interested in... you cool if I simplify that?

--d

[2016-05-09 00:29] whatadewitt commented on #11
(had no other idea how to contact you)

[2016-05-09 00:39] ryus08 commented on #11
If by simplify you mean "make the object easier to use" absolutely. If you want to ditch exposing the info at all, I wouldn't be particularly psyched. But those two params should be in the request anyways (unless it is "today"), so  the user should already know the info anyways.

So cool with me.

[2016-05-09 00:54] whatadewitt commented on #11
Just pushed the update. Let me know if you see any issues! Thanks!!

[2016-05-09 00:54] #11 closed

[2016-05-15 00:37] nmichaud2 opened #12 "Selected_position field"
I am making calls using the roster function of TeamResource and all roster players have their select_position and starting_status field empty. I'm guessing it's an error on yahoo's side but I was wondering if you ever encountered this issue before ?

[2016-05-15 00:41] whatadewitt commented on #12
Very strange... I can query my league and get the proper data...

357.l.16987.t.1

What version of the API are you on?

[2016-05-15 00:49] nmichaud2 commented on #12
I had 0.4.1. Just got 0.4.3 and it works fine for the selected_position !

[2016-05-15 00:54] whatadewitt commented on #12
Great! I made some changes in 0.4.2 when I saw some inconsistencies! Glad it's being used :D

[2016-05-15 00:54] #12 closed

[2016-06-06 17:15] #6 closed

[2016-08-04 02:58] mehtaculous opened #14 "Trouble calling player stats table"
I am fairly new to APIs and am having a bit of trouble trying to get this to work. I keep getting an error message stating that 'yf.players.stats is not a function'. Any help in the right direction would be much appreciated. Here is my code:
[code]

[2016-08-04 03:23] withsmilo commented on #14
@mehtaculous
`yf.players.stats` API is NOT existed. Try [`yf.player.stats` API](http://yfantasysandbox.herokuapp.com/resource/player/stats) which uses player_key and week parameters. :smile:

[2016-08-04 03:41] mehtaculous commented on #14
Thank you very much. Is there any way I could retrieve player stats based on a given week? It doesn't seem to work when I enter in a week value.

[2016-08-04 06:07] withsmilo commented on #14
@mehtaculous
[Yahoo's player.stats for week API](https://developer.yahoo.com/fantasysports/guide/player-resource.html#player-resource-sub_resources) wrapped by yfsapi does not operate properly now. :sob:
It returns like this, not contained with week stats. **I think that this is Yahoo's bug**!
[code]

[2016-08-13 10:29] mehtaculous commented on #14
I believe the week option is working now. However, I cannot seem to figure out which metric each stat_id represents for the NFL. Is there a way to find out this information?
[code]

[2016-08-13 10:43] whatadewitt commented on #14
Yea, it's not ideal the way they have it set up, but you have to create a mapping against the league.settings which has a "stat_categories" array...

[2016-08-13 22:05] mehtaculous commented on #14
Thank you so much for creating this module.

[2016-08-13 22:44] whatadewitt commented on #14
Glad it's helpful! Can I close this issue?

[2016-08-13 22:56] mehtaculous commented on #14
I just had one more question..what exactly is the client token and secret, and when is this required?

[2016-08-14 01:30] whatadewitt commented on #14
When you want to use the API, you need to create an application on Yahoo! When you do this you're given an application level token and secret to query "public" API data (games, players, etc).

If you are trying to query a league that's visibility is not set to "public" then you need to have the users authorize your application using OAuth, at which point they'll be given a client level token a sec

[2016-08-14 06:07] mehtaculous commented on #14
Got it! Thanks a lot. You can close this issue now.

[2016-08-14 06:07] #14 closed

[2016-08-15 19:05] mehtaculous opened #16 "week option not working"
The week option seems to work for the [online module](http://yfantasysandbox.herokuapp.com/resource/player/stats), but when I enter a week value for my function, the API call just ignores it and returns the data for season long statistics instead. Is there something that I am doing incorrect?
[code]

[2016-08-16 00:36] withsmilo commented on #16
Please check that your yfsapi module is updated to v0.5.2 or not.

[2016-08-16 00:49] mehtaculous commented on #16
I guess that was the issue..it works now. Thanks!

[2016-08-16 00:49] #16 closed

[2016-09-02 19:57] derrickpelletier commented on #2
Checking in to see if there's any progress on this.
Would love to see the move to OAuth 2.0—or the removal of Oauth.

I noticed one of your bigger concerns is the inability to access the public api with 2.0. Have you considered supporting both 1.0 and 2.0?

Maybe specifying during creation?

[code]

Or something to that effect anyway. For all intents and purposes, that could just be a flag on the

[2016-09-03 00:12] whatadewitt commented on #2
... well I posted this https://developer.yahoo.com/forums/#/discussion/7979/fantasy-sports-api-oauth2 on April 23rd and never got a response, less than a month later my wife had our second child, so between the job and the new baby, time has been pretty limited. I've been trying to keepi my eye on things, and this looks promising https://developer.yahoo.com/oauth2/guide/yahoo_scopes/ as Fantasy Sp

[2016-09-03 01:10] derrickpelletier commented on #2
I'm not surprised you didn't get a response, sadly. And congrats on the child!

I had a rudimentary library built becuase i was using the OAuth2 flow, and was planning on just ad hoc-ing it as I went, but it's so cumbersome to work with, and you've already done so much work I didn't want to waste anymore time. I can share what I have if any of it is helpful or if you get stuck—I can't remember how

[2016-09-10 02:33] whatadewitt commented on #2
I did some thinking this week... I'm gonna try to set things up like this:

Use OAuth1 for "public" queries. When users log in, I'll implement the OAuth2 flow. I don't LOVE this, but it will add more security for those who log in, and most of the time people will be logging in anyway...

I don't have a timeline on it, but I'm hoping to plug away at it in my free time. Keep your eyes peeled!

[2016-09-10 21:03] mehtaculous opened #18 "Opponent Names for Football"
Which resource would I have to use to find out opponent names for weekly nfl player stats?

[2016-09-11 17:16] charlietfl commented on #18
I couldn't find anything in Yahoo API that provides the nfl game info. I found this resource  http://www.nfl.com/ajax/scorestrip?season=2016&seasonType=REG&week=5.

Haven't found any docs for that API either.
It returns xml and I haven't figured out how to set it to return json but it is also CORS enabled. I ended up looping through every week and storing the data myself then matching it to player

[2016-09-11 17:22] whatadewitt commented on #18
I think this data comes from Sports, not Fantasy Sports, which isn't open, unfortunately...

[2016-09-14 03:18] Adamrzw opened #19 "Service Not Returning For 2016 NFL Scoreboard/Matchups"
API is returning null object {} when calling League.scoreboard for league_key ="359.l.490785". Same thing when calling Team.matchups for any team in the league. Other calls working fine, and league is public. Getting error "Cannot read property 'stats' of undefined" from API calls.

I am thinking the stats property doesn't exist in the result set for NFL 2016, as commenting line "team.stats = self

[2016-09-14 14:56] whatadewitt commented on #19
Hey thanks for this! I'm going to try and fix this bug over my lunch hour here today. It should be pretty easy! I'll let you know when I push things up!

[2016-09-14 15:35] whatadewitt commented on #19
In working on this I've discovered a possible breaking change that should be implemented... I was hoping to save 1.0.0 until I was 100% sure I was stable, but I think that may now be 2.0!

[2016-09-14 15:50] whatadewitt commented on #19
Changes have been pushed to NPM!

You  can see all of the changes here: https://github.com/whatadewitt/yfsapi/pull/20

Let me know if you notice anything else! Thanks!

[2016-09-14 15:50] #19 closed

[2016-09-14 18:40] Adamrzw opened #21 "teamHelper mapTeams issue"
Map Teams is failing in 1.0.0.

Line 17: destinationObj[key] = _.isobj[key];

Should be:

destinationObj[key] = _.isObject(key);

:)

[2016-09-14 18:45] whatadewitt commented on #21
It's so weird that when I tested the function it was working, but I probably ran an undo or something and didn't check close enough when I merged.

I'm at work now, I will fix this tonight when I get home. Sorry about that!

[2016-09-14 19:00] Adamrzw commented on #21
No problem, glad to help. This module is still seriously helping me by taking care of all that OAuth business and wacky yahoo data structure.

 But looking at the code further, I think you really meant just obj[key] to map the property, not the _.isObject(key) to see if its an object, right?

[2016-09-14 23:13] whatadewitt commented on #21
You're correct and the fix has been pushed to NPM!

Thanks!

[2016-09-14 23:13] #21 closed

[2016-09-15 23:59] Adamrzw opened #22 "Game Resource Wrong Callback"
Game resource uses wrong callback for GameResource.prototype.roster_positions.

Set to use position_types_callback, should use roster_positions_callback.

[2016-09-16 00:56] whatadewitt commented on #22
Fixed published to npm.

Thanks! (It's getting seriously apparent what functions I use in my apps and that I need unit tests!)

[2016-09-16 00:56] #22 closed

[2016-10-18 20:30] isaac2004 opened #23 "Setup module with Angular"
I wanted to add your module to a .Net App that I wrote (it currently works with oauth.io for auth, which sucks) but just the OAuth piece as that seems to be the pain point with this whole thing. I tried to add your module to my app, but I am getting some requirejs errors. Is there an easy fix for this?

[2016-10-19 12:17] whatadewitt commented on #23
Wow... front end... I hadn't even thought about that implementation yet...

The short answer is no, I don't know what the easy fix would be. I've been focused on a lot of projects at work lately and my move to OAuth2 has certainly been stalled by that. I'm thinking that MIGHT help solve some of the issues, but I really haven't put any thought into how this should/would work on the front end, so qu

[2016-10-19 13:24] isaac2004 commented on #23
Sure, I was able to use browserify to get the node module into my app, so I got past that. Quick question, how do you fire the oauth piece? What method calls brings up the yahoo page with the callback?

[2016-10-19 17:28] isaac2004 commented on #23
I think I figured it out, I don't need this module, I need the passport one. Looking into that now

[2016-10-24 01:00] whatadewitt commented on #23
Hey have you made any progress here? Will passport even work client side? I'm working on moving the Oauth piece out of this and using Oauth 2, which may actually solve the problem. I'm very interested to know about how this is going to work.

[2016-10-25 18:24] isaac2004 commented on #23
I honestly stopped looking at it. I got really annoyed at how uneasy it was
to interface with the damn thing. I might look back into it with something
like satellizer <https://github.com/sahat/satellizer> but I don't know. Are
you planning on changing the passport piece to OAuth 2.0?

Isaac

On Sun, Oct 23, 2016 at 9:00 PM, Luke DeWitt <notifications@github.com>
wrote:

[2016-10-26 13:08] whatadewitt commented on #23
I'll probably be removing that piece totally. The user should be generating the Auth token outside of my lib and then just passing it in once they've created it, which should help with what you're trying to acheive.

[2016-10-26 15:41] isaac2004 commented on #23
Aw man I actually am in the same boat. All my core code is in C# Web Api. I just need a token to get started as well. I currently am using some 3rd party to get that to work and am not a fan. There has to be something out there that works with this shitty oauth 1.0 implementation

On Wed, Oct 26, 2016 at 9:08 AM -0400, "Luke DeWitt" <notifications@github.com> wrote:

I'll probably be removing that

[2016-11-06 01:00] whatadewitt commented on #2
Wanted to update anyone still interested. I am (I feel) pretty much done with the OAuth2.0 implementation. I have a few small things left to tweak... but I should be able to get this pushed up within the week, depending on how busy the paying job/kids keep me... but this is certainly exciting!

[2016-11-06 01:00] #18 closed

[2016-11-06 01:02] whatadewitt commented on #23
I have an OAuth2 release coming soon which SHOULD help with a lot of this... does your JS exist anywhere on Github? I would love to add a "Front End Integration" example to my sandbox app...

[2016-11-06 01:26] isaac2004 commented on #23
No but i can give it to you. Its wored up to hit a WebApi for everything, but i can try to extract the auth sruff this weekend

Isaac

On Sat, Nov 5, 2016 at 9:02 PM -0400, "Luke DeWitt" <notifications@github.com> wrote:

I have an OAuth2 release coming soon which SHOULD help with a lot of this... does your JS exist anywhere on Github? I would love to add a "Front End Integration" example to my sa

[2016-11-06 01:33] isaac2004 commented on #23
Lile i said, i am using oauth.io currently to handle all the initial auth and I get back access tokens which i put in the header. Here is the whoke code. Let me knownif you jeed anything else.

function initialize() {

            //initialize OAuth.io with public key of the application

            OAuth.initialize('wj806rj-GeuMEcjtlrsv5kuYm0k', { cache: true });

            authorizationResult

[2016-11-19 20:04] philip opened #25 "Request: include REST query in the demo"
Please print the REST query in the demo's output under "How To Use" so we can generate the output ourselves (without the app). Currently it only displays yfsapi code.

For example:
  http://yfantasysandbox.herokuapp.com/resource/league/scoreboard

Granted the above does refer to this:
  http://fantasysports.yahooapis.com/fantasy/v2/league/{league_key}/{sub_resource}

This is a feature request to i

[2016-11-20 00:46] philip commented on #25
Sorry for not looking at the code before posting this confusing request.

tl;dr version: consider printing "url" somewhere on each page, perhaps under "How To Use".

[2016-11-20 01:07] anandkumary opened #26 "application crashes on performing game.fetch"
Newbie to node.js & loved working on your framework. While trying to fetch few games details application crash's.
Application crashes when trying to fetch the MMA game info.

Request

yf.games.fetch( 'mma', function(err,data) {

	console.log("err ====" + err);
	console.log("data ====" + data);

}

crashes asking

y/node_modules/yahoo-fantasy/index.js:72
      data.error.reason = String(data.error.

[2016-11-20 01:17] whatadewitt commented on #26
Hmmm... this is certainly an error I should handle better, but Yahoo!'s API currently only supports the 4 majors sport leagues (to my knowledge): MLB, NFL, NHL and NBA.

[2016-11-20 01:18] whatadewitt commented on #25
You mean on my fantasy sandbox app? Where in particular? In the writeups at the top of most pages I have a note that says

"maps to http://fantasysports.yahooapis.com/fantasy/v2/team/{team_key}/{sub_resource}"

... although those should probably be listed as HTTPS now...

[2016-11-20 03:05] philip commented on #25
Ah yes, sorry for mixing up the sandbox and library. But while we're here, I'm referring to the executed query, such as:

http://fantasysports.yahooapis.com/fantasy/v2/league/123.l.4567/scoreboard;week=15?format=json

My use case is to use your sandbox to generate (and figure out) URLs for my own code, although perhaps folks will also be curious what the executed REST query looks like.

Consider a

[2016-11-25 03:56] kmudrick opened #27 "Documentation - roster resource incorrect"
It looks like the arguments to the roster resource are team key, then date:

https://github.com/whatadewitt/yfsapi/blob/master/resources/rosterResource.js#L9

But the documentation has an example with that reversed:

http://yfantasysandbox.herokuapp.com/resource/roster/players

![image](https://cloud.githubusercontent.com/assets/204913/20614137/1366639e-b299-11e6-8867-f717c85d34a4.png)

[2016-11-25 19:36] whatadewitt commented on #27
This should be fixed now.

[2016-11-25 19:36] #27 closed

[2016-11-25 19:40] whatadewitt commented on #26
I'm going to close this as it isn't supported.

[2016-11-25 19:40] #26 closed

[2016-11-26 01:38] anandkumary commented on #26
My concern is, it should not crash. At least it should show error.

On Sat, Nov 26, 2016 at 1:10 AM, Luke DeWitt <notifications@github.com>
wrote:

--
Thanks & Regards
Anand Kumar Y N
<http://thekeywordacademy.com/coaching/1635.html>

[2016-11-28 01:39] whatadewitt commented on #2
closing as this has now been implemented...

[2016-11-28 01:39] #2 closed

[2016-11-28 01:40] whatadewitt commented on #26
Hmm... my sandbox app is handling errors fine when I enter MMA... what is the use case that you're experiencing this with?

[2016-11-28 10:47] anandkumary commented on #26
Hi Luke,

When I enter tennis,cricket or any other sports name which does not support
its crashed.

-anand

On Mon, Nov 28, 2016 at 7:10 AM, Luke DeWitt <notifications@github.com>
wrote:

--
Thanks & Regards
Anand Kumar Y N
<http://thekeywordacademy.com/coaching/1635.html>

[2016-11-28 16:51] derrickpelletier commented on #2
Thanks @whatadewitt! Appreciate the work, will take a look at this soon.

[2016-12-04 06:01] kmudrick opened #29 "retry mechanism / better error handling"
Not sure if yahoo is just being flakey tonight, but I was running into an issue where some calls were randomly failing with a 500 error (no response body).  Successive calls would succeed, however.

When yahoo returns a 500 and there is no response body, then nothing gets parsed as data and [this line fails actually](https://github.com/whatadewitt/yfsapi/blob/master/index.js#L70)

Locally, I solve

[2016-12-04 13:45] whatadewitt commented on #29
I'm willing to bet this is as a result of the change to OAuth2 and something I've done has buggered up the error handling. I'll fix it as soon as I can...

[2016-12-04 13:47] whatadewitt commented on #26
I am... so dumb... the error I was seeing was because I hadn't logged in. I will fix this ASAP.

[2016-12-04 14:03] kmudrick commented on #29
Hmm.  Not sure if this is what you were hinting at, but these definitely were _not_ auth-related failures that I was seeing. I got more debug logging from the `request` module via `NODE_DEBUG=request` to see what was going on and yahoo was literally returning 500s and an empty body.  I did not check to see if all the failures were coming from the same server, but I'm guessing either they have an u

[2016-12-05 00:59] whatadewitt commented on #29
I'll play around a bit with superagent to see if I can duplicate what you're seeing... for what it's worth I am able to easily refresh my token with request right now.

Based on issue #26 I am removing the actual "token expired" bit out of the API, as it's causing issues with other errors and it's pretty easy to handle within apps... I doubt this will really help out here, but I figured I should l

[2016-12-05 01:06] kmudrick commented on #29
It is definitely not a token expired or other oath issue (continuing to use the same token after failed requests from 500 errors works fine) - the reality is that any API call can fail (for a non auth related reason - servers down etc - statuses in the 5xx range not 4xxx) and it is not handled correctly,  so there's no way to even retry.

[2017-03-09 01:19] whatadewitt opened #33 "Issue with League Players collection Ownership sub-resource"
Leaving this for myself for after draft season...

... data coming back be alllllll messed up

[code]

[2017-03-22 01:14] #33 closed

[2017-04-06 01:34] whatadewitt opened #34 "Handle new "batting order" data that comes from team roster"
leaving this for when there is the time...

[2017-04-12 03:04] bflopez opened #35 "Search subresource not working?"
When I put in something in the search field on
    http://yfantasysandbox.herokuapp.com/collection/players/leagues
it does not make a difference. Is this a problem with the API or the node module?

[2017-04-13 20:32] bflopez commented on #29
Any progress on the issue? I am making over 800 requests against this API, specifically collecting all the players in the players/leagues. I ran into this issue somewhat while testing it manually but it was very minimal.

I decided to automate the API requests using async.mapLimit to avoid duplicate callbacks but I get an error every time before completion. I am wondering if it has something to do

[2017-04-14 00:09] bflopez commented on #29
Per this issue. You might need to restart your Heroku app. I accidentally went over my rate limit for Yahoo and was trying to figure out how Yahoo blocks someone (IP, APP_KEY, Yahoo credentials, etc.). I went to go use your app and since it seems Yahoo blocks your Yahoo credentials at the very least, it crashed after I logged in and made a request that returned a 503.

[2017-04-16 00:59] whatadewitt commented on #29
Can you let me know what the call is that is causing this for you? I can investigate it, apologies for it falling off my radar, it's been busy times at the 9 to 5...

[2017-04-16 01:03] whatadewitt commented on #35
Just verifying... you are logged in... right?

[2017-04-16 01:25] whatadewitt commented on #29
Sweet shit... reviewing the Yahoo! API, almost none of the subresource calls for the "players" collection "leagues" call are only applied in the league context... I guess I missed that when I built this with the old docs... I'll try to make this change tonight as I am now curious about some stuff I'd been trying to figure out a few weeks ago.

[2017-04-16 01:43] bflopez commented on #29
@whatadewitt I deleted a previous comment but I was hammering away at the Players.leagues call. What I found was that Yahoo sometimes returns no error and an HTML response body telling you about an internal 500 error or a 999 (rate limit exceeded) error.

[2017-04-16 01:46] whatadewitt commented on #29
I've had 999 when I first started building this thing...

I will play around and see if I can get the 500, but I'm going to try to fix the players.leagues call now, then I'll probably push a v3.0.0 that will change that to players.league, as all of the subresource calls only (really) matter within the league context..

After that maybe we can try to figure out if we can hookup the 500 error, but I

[2017-04-16 01:46] bflopez commented on #35
Yep logged in. I assume its the yahoo API not working correctly but not sure.

[2017-04-16 01:46] whatadewitt commented on #35
This indeed is a bug. Mentioned what I'm doing on the other thread... should be fixed tonight...

[2017-04-16 01:53] whatadewitt commented on #35
... oh jesus... the API isn't broken... my damn sandbox app has "seach" as the subresource name instead of "search"... so it should be working... just not in my sandbox...

[2017-04-16 01:55] bflopez commented on #35
Haha alright sounds good! I have been working off your sandbox. I git cloned it and have been hacking at it understanding the API itself.

[2017-04-16 01:56] whatadewitt commented on #35
That's it's intended purpose, but I did write it a few years ago, so it may not be ideal! Glad to see it's being used! Reach out if there are any questions!

[2017-04-16 01:56] #35 closed

[2017-04-30 19:27] #34 closed

[2017-04-30 20:00] whatadewitt commented on #29
Do you have the code that I could use to debug this? I cannot replicate the issue...

[2017-05-04 02:13] billderose-zz opened #36 "Programmatic User Token"
@whatadewitt Firstly, thanks for putting this library together. It does exactly what I'm looking for. However, I'm having a little trouble getting everything working on a web server. I'd like to write a chat bot that can answer basic questions about the fantasy baseball league I'm in. To do that, it looks like I need an authorization token. What's the best way to get this programmatically? Typical

[2017-05-04 15:04] whatadewitt commented on #36
Hi @billderose,

The unfortunate issue with switching this to use OAuth2 is that Yahoo! doesn't support client tokens, so you're right, it can be a bit of a pain in the ass to get working.

What I did was create a simple single page login with ExpressJS that would authenticate against the Yahoo! server for a given app. Then I stored that user token and refresh token in a Redis store on a box where

[2017-05-04 19:05] billderose commented on #36
Thanks for the quick response @whatadewitt.

I think the issue is that my application attempting to access the Yahoo fantasy sports API is not a web app: it's a chat bot running server side. I'm having trouble wrapping my head around how I can get my service to auth into Yahoo without having to prompt a user for consent. Essentially, I'm looking for some sort of service account or programmatic acc

[2017-05-08 00:39] whatadewitt commented on #36
So here's a somewhat dirty example of an application I built with the API that has the auth...

https://gist.github.com/whatadewitt/dd48d0664b8928be73b65d97ed124731

The builder.js is a simple express server that just renders a login button and when the user logs in it stores a key in Redis.

app.js runs on a cron between 11am and 11pm (every 15 mins) and sends me a push notification if I have pla

[2017-09-07 08:36] tells opened #37 "bearer_token_not_over_ssl"
Seeing this 401 when trying get any sort of info after authenticating.  I've logged in a couple of times, refreshed the token, used other accounts.  Can't seem to use any of the API.  OAuth 1.0 seems to work on FantasyPros.  Wondering what might be causing the issue.

[code]

[2017-09-07 15:15] #37 closed

[2017-09-20 13:22] isaac2004 opened #38 "Site is down"
As of 9:22 EST 9/20/2017

[2017-09-20 14:18] whatadewitt commented on #38
Which site, specifically?

[2017-09-20 14:38] isaac2004 commented on #38
The herokuapp was down.. Looks back up now

[2017-09-20 17:52] isaac2004 commented on #38
actually @whatadewitt I see what the issue is. Fetching [team collection](http://yfantasysandbox.herokuapp.com/collection/teams/fetch) is failing when stats is checked

[2017-09-20 18:12] whatadewitt commented on #38
Hmmm... I am able to run without issue...

Here's a screenshot...

![screenshot 2017-09-20 15 12 15](https://user-images.githubusercontent.com/363730/30660104-29ac06f4-9e16-11e7-9752-d60ce1d03411.png)

[2017-09-21 19:30] isaac2004 commented on #38
Yea it is weird, I think it might be the Yahoo Api is temperamental. I had a question about how you are parsing the horrible json from the Api. What is the best way to chat if you have time?

[2017-09-22 01:24] whatadewitt commented on #38
haha parsing it with a lot of maps and trial and error...

I don't know if GitHub has an email or DM feature, but if it does, reach out to me through that and I will let you know. I'm also on twitter @whatadewitt

[2017-10-12 14:57] philip opened #39 "Request: get all user's leagues and teams, both past and present"
This feature request answers the following question:

  "Which leagues does a user belong in, both past and present?"

The idea is related to game_leagues and game_teams. For example, going here:

  http://yfantasysandbox.herokuapp.com/resource/user/game_leagues

It could then list all Yahoo leagues a user was or is in, and by default include all types such as baseball, football, and so on.

Filte

[2017-10-13 17:34] philip commented on #39
Sorry, I overlooked this. This ability is listed under resource/user/games and not resource/user/game_leagues.  Sorry for the noise :)

[2017-10-13 17:34] #39 closed

[2017-10-13 18:58] whatadewitt commented on #39
No worries! Sorry I haven't been able to respond! Been quite busy at work recently!

[2017-11-12 00:45] #38 closed

[2017-11-12 00:45] #25 closed

[2018-02-28 21:38] foldedpaper opened #40 "jquery 404 on heroku app"
Hello, I like to use your very helpful heroku app as an example to check against when I am noodling around with my own API-accessing code. But I am having trouble with the site--it seems that jquery is not loading.

When I check developer console,

`http://yfantasysandbox.herokuapp.com/collection/teams/javascripts/vendor/jquery-1.10.2.min.js`

returns

`404 Not Found`

[2018-03-03 11:53] #23 closed

[2018-03-05 20:04] foldedpaper commented on #40
Okay, a little bit more information here. I see that in Firefox, when trying to load the page, console shows these errors:

'Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://code.jquery.com/jquery-2.2.3.min.js. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).
None of the “sha256” hashes in the integrity attribute match the content of

[2018-03-05 20:36] whatadewitt commented on #40
weird... that resource is requested on all pages... and you're only seeing it on the "Teams Collection" page?

[2018-03-05 20:56] foldedpaper commented on #40
No, sorry--it happens on each page of the site. I really botched the initial report, and have been figuring out more as I go.

[2018-03-23 18:02] almartin82 commented on #37
Hi @tells, seeing this too.  [This](https://stackoverflow.com/questions/46091560/yahoo-oauth-2-0-bearer-token-not-over-ssl-explain) SO question says that this is server side / ephemeral.  Is that what you experienced?

[2018-03-23 18:09] almartin82 commented on #37
ah, nevermind.  updated all my urls from `http` to `https` and this went away.  thanks!

[2018-04-08 14:20] ryus08 opened #41 "Support for Promises"
In the spirit of ES6/ES8, support for async functions returning a Promise would be awesome. It could be made backwards compatible by only doing so if no callback is provided, and invoking the callback instead if one is.

Do you feel this is worthwhile to add? Considering the variable-argument-length nature of most of the functions, we'd probably need to check if the last parameter is a function an

[2018-04-08 14:35] whatadewitt commented on #41
I really like it... be a good opportunity to learn how to build out APIs
this way too and probably isn’t that difficult.

I’ll look into it and perhaps throw it in there for the next release!

On Sun, Apr 8, 2018 at 11:20 AM Marois <notifications@github.com> wrote:

[2018-04-08 14:41] ryus08 commented on #41
I'd gladly take a stab at it too!

[2018-04-08 14:59] whatadewitt commented on #41
That’d be great!

On Sun, Apr 8, 2018 at 11:41 AM Marois <notifications@github.com> wrote:

[2018-04-09 16:11] whatadewitt opened #43 "user.game_leagues"
Wrong on the sandbox

Return data is gross... clean up leagues...

[code]

[2018-04-09 16:12] whatadewitt commented on #43
(data redacted for cleanliness)

[2018-04-10 00:54] #43 closed

[2018-04-13 20:50] foldedpaper commented on #40
Aha, figured out the issue here after resolving a similar issue on another site. Turns out I had a Firefox add-on that was blocking the Google Analytics tracker. That caused the failure to load jquery, too. When Google Analytics tracker is not blocked, the heroku app works as it always has.

[2018-04-13 20:50] #40 closed

[2018-07-07 20:21] FahdW opened #46 "Heroku deployed version keeps crashing"
Hey i just wanted to test your library out i was trying to extract some data out from a league and everytime i run it it crashes the entire heroku

[2018-07-09 12:36] whatadewitt commented on #46
Which call, specifically? It appears to be working fine for me...

[2018-07-22 21:57] lsbyerley commented on #46
@FahdW @whatadewitt I think the docs just need to be updated to reflect the current version.. For example, the docs say to pass in an array for League Key like so..

    yf.players.leagues([leagueKey], { start: 0 }, [], (err, data) => {
      // do your thing
    })

However, in the current version, league key just needs to be a string (or a string containing multiple league keys separated by comm

[2018-07-23 00:02] whatadewitt commented on #46
I’m replying on my phone, but I think it’s just a simple misunderstanding,
or maybe I’m so tired I don’t know what’s what right now, but you can pass
a single league key as a string, or an array of league keys. The sandbox
app takes the comma separated list of strings and converts that to an array
when it’s POSTs to the server and the library handles it from there... am I
making any sense or am I

[2018-07-23 00:16] lsbyerley commented on #46
@whatadewitt Your making sense, all I'm saying is when running this request..

    yf.players.leagues([leagueKey], { start: start }, function(err, data) {
      //stuff
    })

On version `3.0.3`, I get a `args.shift(...).split is not a function` error at this line https://github.com/whatadewitt/yfsapi/blob/master/collections/playersCollection.mjs#L48

However, if I just pass in a string instead o

[2018-08-18 00:28] whatadewitt commented on #46
I'm finally about to push a fix for this. Sorry for the delay, life with a newborn is tough!

[2018-08-18 12:31] lsbyerley commented on #46
No worries! Congrats on the new addition to the family!

[2018-10-23 17:16] dbalders opened #47 "Get All Players in League?"
Hello,

Sorry if this is obvious, but is it possible to get a list of all the players in the league? That way you could make a list of who the free agents are and what not? I couldn't get anything I tried to work and didn't see an option for this in the /resources/ code.

Thanks for the help, loving the tool so far.

[2018-10-23 18:29] whatadewitt commented on #47
Unfortunately, no.

The best I've seen is that you can grab Free Agents using the 'league players' collection and you'd have to grab them page-by-page until you have them all (currently it's limited to a max of 25 at a time, I believe). There may be a way to do what you're asking, unfortunately, Yahoo! hasn't made that public.

[2018-10-23 18:29] #47 closed

[2018-10-24 14:54] dbalders commented on #47
Ah, kk thanks!

[2018-10-27 19:40] calder12 commented on #41
Hi, any progress on the promises? Maybe I'm missing something but I am struggling a bit here. I can get a list of players and output that nicely, but it seems to me it requires another request for each player to get their stats?

Basically what I want to do is return a roster with all the players stats attached and I'm struggling to do that. Any ideas?

[2018-10-28 23:07] whatadewitt commented on #41
Honestly, hoping to hear back from @ryus08 with the comments I left. Otherwise, I may just merge it in if there's enough interest!

As for your question, I think you can accomplish what you're looking for by using the "Team Players" Collection with the "Stats" subresource selected: http://yfantasysandbox.herokuapp.com/collection/players/teams

You can run a test there, but I **THINK** that should

[2018-10-31 02:54] ryus08 commented on #41
I'm sorry @whatadewitt I really thought I replied to all your comments, but I see two couple that I hadn't. I believe I have now.

I think to address what I think is your [largest concern](https://github.com/whatadewitt/yfsapi/pull/44/files#r193497229), I need you to pick Option 1 or 2. I know you were [leaning option 2](https://github.com/whatadewitt/yfsapi/pull/45#issuecomment-395148501), but I

[2018-11-02 00:55] whatadewitt commented on #41
Hey hey! Good to hear from you!
I know originally I was looking at 2, but I think that, looking at it closer (albeit a couple of months ago), 1 may be the more "standard" approach... Of course, it's been a while so I'll try to review tonight...

[2018-11-02 01:33] whatadewitt commented on #41
... so ya... number 1 looks better to me... my only gripe is really non-founded on the fact that I'd love to find a way to simplify how many times "extractCallbacks" is needed, but that can certainly wait for another time!

Thanks for checking back in on this! Appreciate the work!

[2018-11-03 16:57] ryus08 commented on #41
OK closed number 2, rebased number 1, addressed your two comments regarding coalescing the error in the callback in YahooFantasy.mjs and reducing the amount of `Promise.then(...)` chaining everywhere. Let me know if there was something else you'd like addressed.

Tests pass. I made a [subsequent branch](https://github.com/ryus08/yfsapi/pull/10) with TravisCI.org configured and a passing build in m

[2018-11-05 01:08] whatadewitt commented on #41
so... this is pretty awesome :D

I'm going to pull this down, do a bit of playing, but I think all that's left to do is merge, bump the package number and deploy!

[2018-11-11 17:43] #41 closed

[2018-12-27 03:54] haz-q opened #48 "Get failed FAAB bids?"
In my NFL league, we have a FAAB budget, and the winning and losing bids are shown in the Transactions page after they have processed. The Transactions API seems limited in that only the winning bidder's `faab_bid` is shown. Is there a way to obtain the losing bids as well?

[2018-12-29 02:55] whatadewitt commented on #48
Unfortunately, I don't think Yahoo! gives that publicly :(

[2018-12-29 02:55] #48 closed

[2019-02-08 19:00] dbalders opened #49 "Map Error on yf.user.game_teams"
Hey,

When trying to get the user.game_teams information, I am getting the following error:

[code]

Code:
[code]

If I change `game_teams` to `game_leagues` I have no problems. Seems to just be this one endpoint. Looks like it is also broken on the yfantasysandbox.herokuapp.com.

[2019-02-09 17:50] whatadewitt commented on #49
Thanks for this! I'll check it out as soon as I get some time!

[2019-02-11 00:18] whatadewitt commented on #49
@dbalders hmmm... this may be an NBA thing... what happens when you run it in the sandbox here: http://yfantasysandbox.herokuapp.com/resource/user/game_teams and put "385" into it?

[2019-02-11 00:20] whatadewitt commented on #49
@dbalders like everything, I ask for some help, then I find the issue. should be a pretty easy fix. just want to make sure i've got it fixed...

[2019-02-11 00:39] #49 closed

[2019-02-11 00:39] dbalders commented on #49
@whatadewitt hey, the site just spins. So, I put a `console.log(team)` in line 6 of the teamHelper.mjs. I noticed it looks like somehow the method gets called twice. The first time has the data, the 2nd time its undefined and fails. I am not sure why it is called twice, but if I wrap it in an if statment like this, it removes the error and stops the app from crashing

[code]

[2019-02-11 00:41] whatadewitt commented on #49
oh my... this is much different from what i was seeing... and I can't seem to duplicate. can you get me the entire "data" object after putting a "console.log(data)" on line 68 of `userResource.mjs`?

Thanks!

[2019-02-11 00:44] dbalders commented on #49
data
{ fantasy_content:
   { 'xml:lang': 'en-US',
     'yahoo:uri': '/fantasy/v2/users;use_login=1/games;game_keys=385/teams',
     users: { '0': [Object], count: 1 },
     time: '58.022975921631ms',
     copyright: 'Data provided by Yahoo! and STATS, LLC',
     refresh_rate: '60' } }
{ team_key: '385.l.40083.t.1',
  team_id: '1',
  name: 'Taking Swag #1',
  is_owned_by_current_login: 1,
  url: 'h

[2019-02-11 01:37] whatadewitt commented on #49
Weird... I don't know what would make it run twice... Nothing I do makes it do that. Do you have the code anywhere that I can take a look?

[2019-02-11 03:21] dbalders commented on #49
huh, so weird. Let me try and make this as easy as possible rather than linking you to a large project to just sift through. This is the function I am calling, i double checked everything and it is only called once.

`function getLoginInfo(gameKey) {
    // console.log(gameKey)
    console.log("here")
    yf.user.game_teams(
        gameKey,
        function(err, data) {
        //   if (err)

[2019-02-11 03:42] dbalders commented on #49
oh my gosh i think i figured it out. I had a 2nd blank team on yahoo that they never assigned to a league. So i think it was running the loop twice seeing i had 2 teams but the other team didn't have a league attached so was erroring out

[2019-02-11 03:52] dbalders commented on #49
Yep, everything is working completely as expected. Man, I am so sorry for wasting your time. I literally didn't even think about it cause it wasn't a 2nd team I even thought about since yahoo never assigned it anywhere. The second I deleted that team everything worked. Thanks for the help, sorry again.

[2019-02-12 01:01] whatadewitt commented on #49
Lol! Interesting use case!! Glad it's resolved!

[2019-06-04 19:40] leedauphinee opened #51 "Not enough styled components"

[2019-09-12 20:02] etsweeney opened #52 "Cannot resolve module from esm"
Hello! Great app here, from the looks of it.

Installed the package, along with esm, but when I try to run I get this error:
`Cannot resolve module from '.\node_modules\esm'`

I figured it has something to do with this line in index.js
`require = require("esm")(module, true);`

Has anyone else run into this issue? I'm sure its something simple but I've been working on it for awhile and can't figur

[2019-09-13 13:58] regs79 commented on #52
Yeah I had the same exact issue yesterday and figured I was using it wrong.

I'd be interested in the reason, for now I'm just doing my own api calls.

[2019-09-13 14:03] #51 closed

[2019-09-13 14:12] whatadewitt commented on #52
It's most likely because I need to update esm to point to 3.1 for security reasons... I'll try to get that done today! Sorry for that!

[2019-09-13 14:27] whatadewitt commented on #52
What v of node are you running?

[2019-09-13 14:34] whatadewitt commented on #52
Pushed the update. Let me know if that helps.

[2019-09-13 15:17] etsweeney commented on #52
Thanks for the quick fix! But I still have the same issue with the change. My node version was 8.11.3. I'm going to update to latest and give it another whirl.

[2019-09-13 15:31] whatadewitt commented on #52
I'll see if I can duplicate later today!

[2019-09-15 01:18] whatadewitt commented on #52
So I've been trying when I've had time over the weekend here and I'm not able to duplicate (I'm on node 8.11.2 for testing)

Is there any other error messaging you can provide?

[2019-09-16 06:53] CallSign-Filter opened #54 "Y!OAuthAccessToken"
This is not an issue with the app so I apologize for posting this here, but I don't know where else to go. I don't know how to get the Y!OAuthAccessToken. I have created and registered by app so I have the _consumerKey_ and the _consumerSecret_ , also I tried getting an account key for my yahoo account (under account security) and got an "app password" (a 16 alpha-numeric character pw) but that is

[2019-09-16 12:40] whatadewitt commented on #54
While this is not AT ALL a complete "starter kit" you can check out this repo here:

https://github.com/whatadewitt/fantasy-starter-express

That should give you an idea of how things work...

You can also take a look at the code for the sandbox here

https://github.com/whatadewitt/yahoofantasysandbox

LMK if those get you started in the right direction!!

[2019-09-17 00:58] #46 closed

[2019-09-17 00:59] #36 closed

[2019-09-17 01:04] regs79 commented on #52
Just to follow up, not sure about @etsweeney, but on my end I'm pretty sure I was just using it wrong.

I was importing yfsapi via a script into my React frontend which was throwing the cannot resolve esm moduel.

When I make requests on the server side via express everything works fine.

[2019-09-17 01:06] whatadewitt commented on #52
Ahhh that makes sense... Right now this only works in node... I've thought about how to get it to work with a front end lib, but I worry about the key/secret stuff...

[2019-09-17 01:06] #52 closed

[2019-09-17 01:30] etsweeney commented on #52
Yup, that's what my situation was too. Thanks!

[2019-09-17 01:31] whatadewitt commented on #52
If y'all want to try to fit it into something that can work in the front end, I would welcome that immensely!

[2019-09-27 21:06] tylermatchett opened #56 "Does not work with create-react-app and webpack?"
Hey, I installed this with npm with a new create-react-app app. the only thing I have included in the project other then the default setup is the line:

`const YahooFantasy = require('yahoo-fantasy');`

and I get this error:

as well as

So I installed the esm package, but it does not fix anything and I keep getting the above errors.

From the preliminary research I have done, this looks like a we

[2019-09-27 23:55] whatadewitt commented on #56
This issue keeps coming up... unfortunately this isn't supported on the front end at this time. You'd have to install it into your node server and set something up server side to handle all of the back and forth with your react app. I'm hoping to have an example repo up at some point here soon to show it off, but hopefully this helps. Let me know!

[2019-09-28 01:14] regs79 commented on #56
I started trying to do the same thing with create react app and ended up moving over to nextjs.

I have the express part handling the yahoo api calls then fetching the data from the react side of things.

It’s pretty basic at the moment, haven’t tried to do anything crazy, but it all seems to work ok.

I can probably share my code at some point next week. Just need to remove all my keys and clean

[2019-09-28 14:18] tylermatchett commented on #56
Ok that makes sense, I ended up just making an express backend to handle it as I want getting the errors that way, similar to both of your suggestions.
Thanks for the help.

[2019-09-28 14:18] #56 closed

[2019-09-29 14:04] whatadewitt commented on #56
@regs79 love the idea of using Next! Makes a ton of sense (and would be super fun to use as a way to teach myself next...)

Do you have that code posted anywhere? Would love to check it out!

[2019-09-29 20:56] regs79 commented on #56
@whatadewitt I’ll share the repo tomorrow when I’m back near my PC and have cleaned it up a little. 🙂

[2019-10-03 04:48] CallSign-Filter commented on #54
Thank you so much! So that did get me started and I was able to get it started. But I am not looking to make a public website. I just want to make a program that I can run and parse out my own team's fantasy data so I can run some calculations and post it as text on my website. Any way I can hard code my login credentials?

We are doing weekly payouts for different things (highest QB score, bigges

[2019-10-03 16:06] regs79 commented on #56
@whatadewitt, sorry for the delay the [code is posted here](https://github.com/regs79/yahoo-fantasy-nextjs)

Pretty basic. Just a couple of calls in the backend and the corresponding frontend pages. One of them is an example of a dynamic route.

Not entirely sure what I'm going to do with it yet. Just wanted to see if it worked.

[2019-10-19 17:04] josheverett opened #58 "Are "Installed Applications" supported, or only "Web Applications"?"
When registering an application for the Yahoo Sports Fantasy API, you are asked whether this is a Web Application or an Installed Application.

I'm guessing that an Installed Application might have less authentication overhead, like perhaps just using a secret key rather than needing to obtain tokens via OAuth, which would by ideal for my purposes (just locally scraping some data from the API).

O

[2019-10-19 17:31] regs79 commented on #58
You can use localhost, I think I just have localhost:3000 in my yahoo app
settings.

On Sat, Oct 19, 2019 at 1:04 PM, Josh Everett <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-10-21 00:15] whatadewitt commented on #54
Sorry I just saw this.

Unfortunately no. With v2 of the Yahoo! API you need to use a valid access token. What I've done in the past is set up a Redis instance to hold my access/refresh token, and if my requests fail due to an expired access token I use the refresh token to get a new one that is valid and re-try the request.

I would also think you could just setup something that allows you to log

[2019-10-21 00:16] whatadewitt commented on #58
I've never been able to get a custom port to work properly, Yahoo! doesn't like to accept them as callback URLs, so I inevitably end up creating a record in my hosts file and run the node app on port 80... I actually have a bunch of little apps I run locally that all run at "http://www.fantasytool.local/"

[2020-01-25 20:34] ulukfuni commented on #58
Possible to give a little more detail on how to add a record to your hosts files and run the node app on port 80 such that the redirect_uri on the Oauth2 does not yell at you alll the time?

I have been having trouble trying to get Oauth2 to accept anything in redirect_uri other than 'oob' so I was trying to get a spoof of 'hosts file/custom domain' going but to no avail.

[2020-01-26 17:54] whatadewitt commented on #58
Not sure what you mean by "oob"

As an example, I have my callback url as "www.fantasytool.local" in one of my apps.

In hosts I have a record "127.0.0.1    www.fantasytool.local".

Finally, when I run my application locally (I'm using an express server about 98% of the time I use this thing) I run it using `sudo PORT=80 npm start` (you have to run as sudo in order to run on port 80)

I have the d

[2020-10-21 13:49] LudicrousLiam opened #62 "No longer able to log-in to Yahoo on demo site"
Recently I have not been able to log in on the demo site, which I use semi-frequently to explore the possibilities of this API. Here is what I see when trying to log-in:

https://i.imgur.com/tttSM1v.png

[2020-11-02 13:53] LudicrousLiam opened #63 "UnhandledPromiseRejectionWarning when making request with expired token and no callback/refresh supplied"
Hey,

I noticed that as of version 4.0.0 I no longer receive an error message alerting that the access token has expired when a request is made with an expired access token (not using the newly implemented token refresh functionality).

Instead I receive two UnhandledPromiseRejectionWarnings:
My Code:
[code]
The error
[code]
I have run the following code to get more info:
[code]
And receive this:

[2020-11-02 14:04] LudicrousLiam opened #64 "Way to retry request after refreshing token with new 4.0.0 token refresh feature?"
Sorry for all the issues! I am enjoying using your app.

I noticed when playing with the new token refresh feature in 4.0.0 that when the token is expired, a new token is requested from Yahoo and supplied to the callback function, but the original request to the API is not remade with the new token.

Is there a way configure it so that the original request is remade upon a successful refresh of th

[2020-11-09 17:54] noakes1984 opened #67 "MJS issue"
Every time I try to build project, it says library can't be found.  Here is the error I am getting.

Unable to resolve module `yahoo-fantasy.mjs` from `index.js`: yahoo-fantasy.mjs could not be found within the project.

If you are sure the module exists, try these steps:
 1. Clear watchman watches: watchman watch-del-all
 2. Delete node_modules: rm -rf node_modules and run yarn install
 3. Reset

[2020-11-12 01:16] WhosNickDoglio commented on #62
Also seeing the same thing 👀

Any progress on this?

[2021-01-02 16:26] alexLaws opened #68 "Juno iPad App Compatability"
For some reason the Juno iPad app won’t let me install the package. It doesn’t provide detailed errors but here’s what detail there is:

In the system for installing packages it says: “Only pure Python packages are Supported.” Juno can find the package (v 2.4.1 from 12/28/2020) but when I click to install it fails and says ‘Failed to install yahoo-fantasy-api 2.4.1. Installation from Source failed

[2021-01-13 12:55] whatadewitt commented on #68
Hi @alexLaws, sorry for the delayed response. I'm not getting emails from GitHub, which I need to resolve.

This package is built using NodeJS, not python, so I don't think it's going to work for you... Or you're looking for a different repo...

[2021-01-13 12:57] whatadewitt commented on #67
I'm really sorry, I'm seeing all of these issues super late as I'm not getting emails from Github... Do you have any source code? I'd be happy to take a look. Admittedly I'm not familiar with "watchman"...

[2021-01-13 13:03] whatadewitt commented on #64
Hey @LudicrousLiam, sorry I'm not getting any emails from Github.

I had this built in and then removed it because of issues where users might not specify some of the stuff needed...

If you look at the old fantasy sandbox / docs source code that I had before I built the new version using Next, I have this workflow outlined here: https://github.com/whatadewitt/yahoofantasysandbox/blob/master/route

[2021-01-13 13:06] whatadewitt commented on #63
Hey @LudicrousLiam, catching up on all the issues while I'm here...

Can you verify this is still happening with 4.1.2? I'm happy to fix this but the hour wait while my token expires is a bit of a pain... I'll try to take a look tonight, but if you could confirm that would be great.

[2021-01-13 13:07] whatadewitt commented on #62
Hey @LudicrousLiam and @WhosNickDoglio, apologies for the delay. Not getting notifications in my email :S

There's a new and improved site for this:

https://yahoo-fantasy-node-docs.vercel.app/

[2021-01-13 13:07] #62 closed

[2021-01-13 13:08] whatadewitt commented on #54
@CallSign-Filter not sure if you're still using this, but I have this resolved and you can make unauthed calls to public endpoints / leagues now.

[2021-01-13 13:08] #54 closed

[2021-02-26 20:32] cjhaviland opened #70 "Cannot read property 'player_stats' of undefined"
In trying to use the yf.player.stats resource and giving a player_key and a week I am getting this error. Checking out the return data I see that you try to grab `data.fantasy_content.player[1]` but in my return is only 1 item.

For context I am looking at 2019 data for player_key `388.p.8859` and week 1.

[2021-02-27 21:35] cjhaviland commented on #70
Here is the player object that is returned for Week 1. Doesn't look like that are any stats there and I am not sure why. Using the link returned from this API for my 2019 league I see stats for Week 1.

[code]

[2021-03-05 22:35] whatadewitt commented on #70
Let me take a look tonight and I'll get back to you!! Can you check to see if it's returned properly on the sandbox site in the meantime?

[2021-03-06 19:06] whatadewitt commented on #70
Piss... this is definitely a bug, but I am so sure I had just done some work here... that said, you're right, the data from Yahoo! is not coming back as expected. I will inspect more and let you know.

[2021-03-06 19:09] whatadewitt commented on #70
... and that was easy... there's been an (undocumented) change to the Yahoo! API where I have to remove the "type=week" from the url... pushing a fix up now...

[2021-03-07 01:14] whatadewitt commented on #70
Should be resolved now with 4.1.3 -- what a pain... thanks for submitting this issue!

[2021-03-07 01:14] #70 closed

[2021-03-08 00:12] cjhaviland commented on #70
Oh wow! Thanks for the quick fix!

[2021-03-17 15:22] cjhaviland opened #72 "Connecting a Frontend to the Backend"
I am trying to setup an Angular front end to call an Express backend but when I call the auth endpoint and it redirects to Yahoo I keep getting this error:

`Access to XMLHttpRequest at 'https://api.login.yahoo.com/oauth2/request_auth_fe?client_id=<CLIENT_ID>&redirect_uri=https%3A%2F%2Flocalhost%3A3001%2Fyahoo%2Fauth%2Fcallback&response_type=code' (redirected from 'https://localhost:3001/yahoo/aut

[2021-03-17 16:54] #72 closed

[2021-04-25 18:36] jimweigandt opened #73 "Adding ability to look up team.roster by week."
Is there any update on being able to pull in team.roster by week at all? It looks like there is a TODO on the sandbox site - `TODO: add support for the "week" parameter`

Or maybe at least a work-around. I have not had much luck lately.

Appreciate you putting this package together! It's an awesome project.

[2021-04-28 14:41] whatadewitt commented on #73
Let me look into this, it might not be a huge lift.

[2021-04-28 18:57] whatadewitt commented on #73
Uh... so this might actually work and is just a hole in my documentation... but if you simply specify a week, instead of a date, I fall back to using the week...

You can use team_key: mlb.l.5208.t.1 and date: 3 at https://yahoo-fantasy-node-docs.vercel.app/resource/roster/players to see this in action... my league (5208) is public, so you don't need to auth. Let me know if that's what you're look

[2021-04-29 03:28] moshed opened #74 "node-red integration"
any chance you would look into integrating this into node-red? im a bit of a beginner and the visual aspect of node-red really helps me visualize writing flows to accomplish certain things.

[2021-04-29 11:33] whatadewitt commented on #74
I've never heard of this but happy to look into it when time allows. Might be a great opportunity to learn something yourself though :)

[2021-04-29 11:40] whatadewitt commented on #74
Node-Red is equal parts cool, scary, and blasphemous... I'll dig deeper into the docs at some point and see if I can find a way to integrate anything.

In the meantime, you could check out how I set up the docs site https://github.com/whatadewitt/fantasy-docs-next which, outside of the catch all API route for all of the actual API calls, should provide a pretty simple introduction to how to write

[2021-04-30 05:46] moshed commented on #74
yeah node red is great I use it to implement simple speech to text voice transcription bots in telegram
![image](https://user-images.githubusercontent.com/8683379/116653141-9493e700-a954-11eb-821e-e2bf1b0f440a.png)

https://user-images.githubusercontent.com/8683379/116653453-36b3cf00-a955-11eb-8b07-bf4f8dead42c.MP4

control the lights in my house based on sunset and sunup and send notification to

[2021-05-01 16:10] whatadewitt commented on #73
I updated the docs roster.players and removed the TODO from team.roster. I hope that this helps you!!

[2021-05-01 16:10] #73 closed

[2021-05-12 21:21] chrisk1250 opened #76 "Is it possible to get the BASE stats that make up a COMPOSITE stat via H2H matchups?"
I use this API route very heavily to aggregate matchup data for my league: https://yahoo-fantasy-node-docs.vercel.app/resource/league/scoreboard

Do you know if it's possible to also obtain the data that goes into the composite stats at the same time? For example, within this API call, I would absolutely love to get all the stuff that makes up OPS. I know Yahoo has it all behind the scenes! Does a

[2021-05-12 22:54] whatadewitt commented on #76
In the ultimate "good news/bad news" I have an answer for you!

I do have an answer for you, but that answer is that it's currently not possible.

Luckily I've been able to contact some of the dev team who works at Yahoo! and they've been super responsive to my requests. I asked about exactly this about a month ago, but for AVG, getting the H/ABs for the whole season and not just a week.

The resp

[2021-05-12 22:54] #76 closed

[2021-05-13 00:22] chrisk1250 commented on #76
@whatadewitt Thanks for the quick response on this, glad to know I'm not the only one! Sucks that it's not available, but good to know it's at least on their radar. Okay so we have this dynasty league that's been going on since 2014. We have a Constitution, Keeper Contracts, a Competition Committee--it's intense.

So I've been aggregating all of our matchup stats since inception. There's some real

[2021-05-13 11:39] whatadewitt commented on #76
Hah! That's awesome! I'm currently building something similar in my spare time (when I'm not playing video games :S) where it basically breaks down each week by Roto scoring and then I was going to do a "if you played all teams", as well as a "if you played PERSONX's schedule instead of your own" (schedule swap) and a "play this person every week" (for side bet purposes :D)

Mind you, what you hav

[2021-05-13 13:06] chrisk1250 commented on #76
We have a striking number of similarities here!

I'm doing "H2H against every single team every week", "What if someone else had your schedule?", "What if you had someone else's schedule?": https://www.zenandtheartofbaseballmaintenance.com/years/2021/matchups/13

I also can't believe you mentioned side betting. We also have a side pot in the league and it's completely based on a team's record if t

[2021-05-13 16:55] whatadewitt commented on #76
Hah, turns out a lot of fantasy players are also degenerate gamblers 😂😂😂😂

[2021-05-13 16:56] whatadewitt commented on #76
I'm working on opening up the roto stuff so anyone can use it -- I have it working but need to host it somewhere...

[2021-05-24 11:00] charlietfl opened #77 "Do Yahoo API reference docs still exist?"
I've had numerous iterations of a personal Yhoo fantasy app for quite a few years using a php proxy api and React front end that allows me to see numerous teams in one view and do drag/drop moves , drop players etc

It broke last year when they sunset the social API and I didn't have time to mess with it. I got it working again this weekend but am dumfounded at the docs they provide. The overview

[2021-05-24 12:44] shepsii commented on #77
is this what you're looking for? https://developer.yahoo.com/fantasysports/guide/

[2021-05-24 13:46] charlietfl commented on #77
@shepsii No. That is the horrible document I mentioned. They used to have a much better organized resource reference beyond that guide page. It had a sidebar with all the various collections/resources and a clean display of all options available for each

[2021-05-24 17:55] shepsii commented on #77
@charlietfl the wayback machine has something on your link: https://web.archive.org/web/20130820114739/http://developer.yahoo.com/fantasysports/guide/game-resource.html don't know how helpful that would be!

[2021-05-24 18:19] moshed commented on #74
Hey did you any luck integrating into node-red I was wholly unsuccessful in even the most basic steps of accessing the api and I'm afraid it's beyond my abilities.

Thanks for all your hard work!

[2021-05-24 18:48] charlietfl commented on #77
@shepsii Never thought of that! Great thinking. It's sure a lot easier to work with than the horrible guide they have all in one page with no navigation. The single page version doesn't appear to be as complete either

[2021-06-03 12:11] whatadewitt commented on #74
I've been so busy man, I apologize.

Will let you know when I get a chance to look at it!

[2021-06-03 12:14] whatadewitt commented on #77
Thanks @shepsii

Those are actually the docs that I built all of this off of and contain a bunch of little things that aren't documented in the newer docs.

I've also been privy to some updated docs shared by a contact I have at Yahoo! and there's really not anything that I am missing (outside of things that are going to be made more public very soon)

If there's anything specific you're looking f

[2021-06-07 04:30] moshed commented on #74
no need to apologize at all! whenever you get a shot that'd be great, if not, not. No need to apologize!

[2021-06-20 03:06] cjhaviland opened #79 "Player Resource - Stats missing weeks sub-resource"
I am really interested in using the weeks sub-resource on Players Stats, but it looks like it's not actually working. It always pulls the full season data no matter what. I did check the Yahoo API docs (which suck) and it seems like the only sub-resource is ;metadata? I could be wrong.

[2021-06-22 23:56] charlietfl commented on #79
You get full seasons stats by default unless you specify a week number. There is an older more informative set of Yahoo docs on wayback machine https://web.archive.org/web/20130927114616if_/http://developer.yahoo.com/fantasysports/guide/player-resource.html.  As for this API check https://yahoo-fantasy-node-docs.vercel.app/resource/player/stats

[2021-06-23 13:44] whatadewitt commented on #79
@cjhaviland did that solve the issue for you? I can look in if no.

thanks @charlietfl !!

[2021-06-23 20:58] cjhaviland commented on #79
@whatadewitt i can't make it work, but I'm also doing it for baseball right now. Which I think is just dates but I can't seem to get that either.

I would prefer a players stats for a week in my league if possible. Thanks.

[2021-06-28 18:50] whatadewitt commented on #79
@cjhaviland just confirming... you've tried simply entering a week number, rather than a date, yes?

i haven't had a chance to check this out myself yet, but you could also probably get the league settings, which would give you weeks/dates and do a promise.all to get them all? it's a lot of work but it would do the trick in the interim?

[2021-06-28 21:38] cjhaviland commented on #79
@whatadewitt so what I am currently doing is grabbing `yf.roster.players(teamKey, weekNum)`.

Then doing a `Promise.all()` for `yf.player.stats(playerKey, weekNum)` which gives back a player object with these properties:
[code]

I've tried using it in my app and in your hosted app, and neither will give me stats for a week, only the whole season.

[2021-06-29 22:35] whatadewitt commented on #79
Indeed this is an issue.

Let me reach out to my contact at Yahoo! to see if this is a known bug.

[2021-07-06 16:49] rdbaron commented on #79
Just here to say I'm running into the same issue, but also to say that what you've put together here is a beautiful thing and it's very much appreciated!

[2021-07-28 13:01] Liam-OShea opened #81 "Unable to catch error encountered when blocked by Yahoo for making too many requests"
Hey Luke,

When making too many requests to Yahoo, Yahoo blocks us for a short period of time based on the app ID we have registered on their developer portal.

I am looking to catch this error so that I can handle it properly and send an informative error message to the front end of the application. However I cannot catch the error using try catch or .then.catch syntax, and when the error occurs

[2021-07-29 11:31] whatadewitt commented on #81
That's a helpful error! Hah!

Should be a fairly error to catch. I can try to take a look tonight at this.

[2021-07-29 11:56] whatadewitt commented on #81
Had a few minutes before calls this morning.

The error is clearly `data = JSON.parse(data);` on 287, where `data` isn't JSON. I'm not sure why that isn't being caught, but again, once I have some REAL time I'm confident this can be solved!

[2021-08-23 16:43] CallSign-Filter opened #82 "Get Scores By Player if they were in the starting roster"
I am using this for football and in my league we do weekly payouts for different things, for example:

- Week 7, most combined points by all running backs in starting roster
- Week 8, most combined points by all wide receivers in starting roster
- ...
- Week 12 Most combined points by all running backs in starting roster season combined.

I know I can pull the points for each individual player but

[2021-08-23 16:55] whatadewitt commented on #82
My guess is you'd need to check against the `team.roster` resource for the given week... Does that help?

[2021-08-23 16:59] CallSign-Filter commented on #82
Yes it does. Thank you!

That is just the second part of the app I am building. The first part is what I talked about with you 2 years ago; making a live scoring display on a Raspberry PI so I don't have to check my phone on game day. I will keep you updated.

Thank you for all your work, not all heroes wear capes, but you should probably get one anyways

[2021-08-23 17:16] #82 closed

[2021-08-23 17:26] whatadewitt commented on #82
That's awesome! Please share the code when you're done! I'd love to check it out!

[2021-09-01 02:08] uythoang opened #83 "Importing Offline Draft Resutls"
My league just completed an offline draft and I have all the data stored in a Postgres table. Is it possible to import the results into Yahoo Fantasy Sports using the API?

[2021-09-01 02:45] foldedpaper opened #84 "Can't access player data from Plus leagues"
I suspect this may be an issue on Yahoo's end, but considering how difficult it is to track down support for the API on their end, I'm raising an issue here with fingers crossed that maybe it's just an issue with how we are accessing the data.

The issue is that attempting to access player data from old Yahoo Plus leagues fails to find player data. It seems to be unique to Plus leagues because if

[2021-09-03 17:11] Liam-OShea opened #85 "players.leagues cannot use comma separated list of player statuses in filter's status property"
Hi Luke!

I noticed that the players.leagues endpoint does not work when providing more than one status in the filter object.

Here is an example of how I construct the query:
`statuses = "T,K"`
`const filter = {
					start: i,
					status: statuses // Comma separated list of statuses
				}`

`const players = await yf.players.leagues(league_key, filter, subresources)`

I tried supplying the status

[2021-09-04 22:25] japhy-snyder commented on #85
Unsubscribe

[2021-09-06 00:47] ptoninato commented on #81
I've been trying to get around this error too.  Does anyone know what a) the rate limit is? and b) what to do when the limit is reached?

I tried writing logic such that it attempted to refresh the token when it hit the limit, but it still kept giving me the request denied message.

[2021-09-06 16:21] Liam-OShea commented on #81
@ptoninato Here are my notes from a while ago very roughly determining the rate limit. Its very rough because I was making 120 calls at a time and did this twice, with failure happening on the second batch of calls. You could test this more exactly by making individual calls until you hit the limit and recording how many calls you made.

I did some tests and determined the API is blocked at an app

[2021-09-18 13:59] ccali11 opened #86 "POST Requests"
[]

[2021-09-19 14:16] #86 closed

[2021-09-21 00:50] whatadewitt commented on #81
Sorry, it's been a tough month-plus for me here and I've been largely avoiding the machine at night.

I did put a request in with my contact at Yahoo! to get a more definitive answer about the actual rates, but it's been radio silent. I will ping him again here now that football season is underway.

I just pushed a potential fix to a branch called "over-limit-fix" -- can you test it out and let me

[2021-09-21 00:51] whatadewitt commented on #83
Unfortunately it doesn't look like that is supported by Yahoo! and certainly isn't currently supported in this wrapper

https://developer.yahoo.com/fantasysports/guide/

[2021-09-21 00:52] #83 closed

[2021-09-21 00:54] whatadewitt commented on #84
Wow, I've never heard of plus leagues! What are they?

That's really strange, and unfortunately it does look like it's an issue with Yahoo!

Can you get any other resources using 196? I see game.meta works, but I'm curious if there's anything else.

[2021-09-21 01:01] whatadewitt commented on #85
Interesting... Indeed it's not working...

This makes me believe that perhaps they've removed this functionality on their side at some point since I originally wrote the docs 7 years ago... Their docs don't specify we can use multiple filters... but they aren't always the most reliable.

If my contact gets back to me I'll follow up with a question about this.

[2021-09-21 01:58] foldedpaper commented on #84
Ha, I had to refresh my own memory of what a Plus league was--but for a few years, Yahoo! offered a paid league option (the Plus leagues) that offered features that weren't in regular, free fantasy leagues. It cost $125/year, and added things like having divisions in a league, being able edit rosters pre-draft in order to have keepers, and having a live stat-tracker during MLB games.

Eventually t

[2021-09-21 11:44] whatadewitt commented on #84
What happens if you try using the players.league collection and enter the league ID?

https://yahoo-fantasy-node-docs.vercel.app/collection/players/league

[2021-09-21 13:57] foldedpaper commented on #84
Hmm, it just has an empty array for players:

[code]

[2021-09-21 18:48] Liam-OShea commented on #85
Hmm.. I thought I had used this feature while experimenting a couple months ago and that it had worked - although I may be misremembering. Sounds good

[2021-09-21 18:51] Liam-OShea commented on #81
It sounds ominous when you call it "The Machine"!

I will give it a test later tonight and get back to you. Hope your connect comes back from AWOL soon

[2021-09-22 00:15] whatadewitt commented on #84
It looks as though they've stopped supporting it... unfortunately I don't think there's much I can do to help you!

[2021-09-22 18:06] Liam-OShea commented on #81
Hey Luke,

I ran a test using over-limit-fix and am receiving the same result as before (no change). Let me know if I can help you test this again in the future.  I can also send you my code to make bulk parallel requests to the players endpoint (easy to hit API limit this way) if you feel that would be helpful.

[2021-09-30 20:30] foldedpaper commented on #84
Bummer! Thanks for helping look into it. I'll see if I can navigate the Yahoo help contact forms to flag them and see if they will look into the issue.

[2021-09-30 20:30] #84 closed

[2021-10-05 02:44] kenjdavidson commented on #58
I came across this a while ago, but am starting to play around with it again. (sorry for the emails) and think this could work with react native or some other installed app.  Adding secrets to the app would be an issue, but ways around that.

Passing in a callback url of oob (out of bounds) should be usable (yahoo docs still use it and the Last time someone messaged me about my WordPress plugin it

[2021-10-05 13:10] whatadewitt commented on #81
Damn... If you want to send it to me I will take a peek!

[2021-10-05 13:12] whatadewitt commented on #58
What you're saying most definitely makes sense, and I've thought about it from the perspective of a FE Web Application, but that would expose the keys. While I think you could certainly do this, I don't currently plan to support anything like this. What I'd recommend for a mobile app would be to have a very simple server that you can call.

[2021-10-05 13:23] kenjdavidson commented on #58
Oh 100%.

I had no plans of releasing with keys, or maybe adding app options for adding your own keys in if it were an electron app.  I was just posting for the OP what I would do given the request.

[2021-10-05 18:40] rdbaron commented on #79
Hey @whatadewitt !  Just curious if your Yahoo! contact ever got back to you about this?

[2021-10-06 15:52] Liam-OShea commented on #81
Here you go! This will collect all available players in a league. You may need to run it 2-3 times to hit the request limit.

`async function getPlayersFromLeagueParallel(league_key) {
  try {
    const subresources = ['stats', 'ownership', 'percent_owned', 'draft_analysis'];
    const batchSize = 300
    let startIndex = 0
    let playersRemain = true
    let allPlayers = []

    if (batchSize %

[2021-10-06 16:15] josheverett commented on #58
@kenjdavidson note that your solution still requires a user-facing application with a UI. Not that it isn't extremely helpful for the native app case!

[2021-10-06 16:32] kenjdavidson commented on #58
I've used a pre-generated AccessToken (I use Postman to build it) within some local scripts that I just take from Postman and store locally to use in repeatable scripts (jobs in your case).  But the initial request for an AccessToken requires user intervention (from all my experience playing with Yahoo).

Now I'm curious..  Making the assumption below:

I'm assuming the cron job is for either you

[2021-10-06 19:14] josheverett commented on #58
Thanks! I think that is enough to close this.

In my case I'm using data from this API (and have found other solutions since this issue was filed), but I only want the data for an app centered around Yahoo's DFS product. 😂

If Yahoo would just make a dang DFS API or a version of this API that doesn't require making a league on their traditional fantasy platform, things would be more straightforwar

[2021-10-06 19:14] #58 closed

[2021-10-07 11:56] whatadewitt commented on #79
I got a reponse, let me know if it helps:

So if you'd like, we can craft a response here and see what we can get done!

[2021-10-07 11:59] rdbaron commented on #79
Well, unless I'm doing something wrong, this issue is not limited to MLB players.  In my case, I am using NFL players, and even when specifying and week number, I get their full seasons stats (same result using your testing tool.)

[2021-11-04 19:47] simonbilskyrollins opened #87 "Support for adding and dropping players"
`TransactionsCollection` has methods for adding and dropping players, but they are currently commented out. I tried uncommenting the code and worked through a couple API errors, but ultimately could not get past a "String could not be parsed as XML" error message from the Yahoo API—even though the constructed XML data appears to be perfectly valid and to match the spec from https://developer.yahoo

[2021-12-01 13:38] whatadewitt commented on #87
Oh my god I totally missed this... it's been a busy time.

I feel as though I've asked about this in the past... I will have to search my inbox for anything I have on it...

[2021-12-02 06:55] jimweigandt commented on #73
I never got back to you on this but thanks for the response on this! Using that optional parameter is exactly what I was looking for.

The only thing I wish that Yahoo would change about their API is not updating what teams certain players were on. Only takes in account for their current or most recently played team!

[2021-12-03 22:52] jimweigandt commented on #79
I'm also running into wanting to grab points on a weekly basis for some NFL players. Did you get any updates on this at all or get resolved?

[2021-12-09 14:55] whatadewitt commented on #79
Unfortunately I haven't followed up since the last response. I can try to look into it for football, but I'd need a league ID that is public to check it out...

[2021-12-09 23:02] jimweigandt commented on #79
Here is my current leagues public key for football. Hopefully this helps!

406.l.11131

[2021-12-22 06:52] cheng1994 opened #88 "players.league is not a function"
Attempting to use players.league but encountering a TypeError. Here's a full console ouput
[code]

[2021-12-30 19:49] jimweigandt commented on #79
Just wanted to follow up as I think I found the issue on why weekly stats are not being fetched even though you specify a date/week in all games.

I took a look at the Yahoo documentation after you mentioned that you could fetch `lastweek` stats in non-NFL games by specifying a stat "type". You can use this same parameter to also sort stats that are being returned. So I figured I would try and spe

[2022-01-04 18:47] whatadewitt commented on #79
Hey, sorry, I was off the machine during the holidays :D

So you're saying that player.stats doesn't have the conditional that is appending `type`? I can add that easily!

That said, if you'd like to submit a PR, you should be able to fork the repo, create a branch and submit a PR that way, which I would be happy to accept and add your name as a contributor 😄

[2022-01-04 20:03] whatadewitt commented on #88
On it!

[2022-01-04 20:04] whatadewitt commented on #88
Wait a sec, you should be using `leagues` if you're using the `players` collceion

`players.leagues` should work!

https://yahoo-fantasy-node-docs.vercel.app/collection/players/league

[2022-01-05 01:35] #88 closed

[2022-01-05 01:51] whatadewitt commented on #79
@jimweigandt It works!

There's a bug in my sandbox, but I just pulled this using

player_key: nfl.p.33393
week: 17

`
{
  "player_key": "406.p.33393",
  "player_id": "33393",
  "name": {
    "full": "Ja'Marr Chase",
    "first": "Ja'Marr",
    "last": "Chase",
    "ascii_first": "Ja'Marr",
    "ascii_last": "Chase"
  },
  "editorial_player_key": "nfl.p.33393",
  "editorial_team_key": "nfl.t.4",

[2022-01-05 02:01] whatadewitt commented on #79
Ok, so it's not TOTALLY working... but I think I'm getting it sorted out here. The issue is that you can't get stats by week for players in other sports because they don't operate in a "week" setting. Furthermore, when I specify a date, it doesn't appear to be sending back the correct information.

I'm going to make a temporary change to simply append the `;type=week` bit, which will fix the issue

[2022-01-05 02:06] whatadewitt commented on #79
Final update, it's obviously too late and it may actually be working, but it appears Yahoo! has gotten to work on this years fantasy offering because when I use a baseball player I'm getting 2022 as the "current_season". I'll get the code for 2021 tomorrow when I'm more awake and see if date / week stuff is working out then :|

[2022-01-05 02:43] rdbaron commented on #79
Just a thought, but when you are trying other sports you are adding `type=date` ?

[2022-01-05 05:25] jimweigandt commented on #79
I'd echo what rdbaron is saying. When I started to test non-football games, I seemed to be getting stats for that week although I didn't go out of my way to manually check them...

But make sure you append something along these lines to the end of non-football strings so it knows that it's querying for a date instead of a week number.

`type=date;date=2020-07-07`

[2022-01-05 13:02] whatadewitt commented on #79
Ok... I've discovered the issue and I think my inkling last night was correct...

You cannot get "week" stats for baseball players, that is, this request does not work.

`https://fantasysports.yahooapis.com/fantasy/v2/player/mlb.p.10626/stats;type=week;week=12`

No "player_stats" object is returned, which is causing the API to error and the response ends up as an empty object, which I should proba

[2022-01-05 13:30] whatadewitt commented on #79
[code]

It's working! I need to update the docs. This should work because for other sports you can get the weeks of the game and just make multiple requests for each of the days within that week!

Thanks for all the help on this, gang!!

[2022-01-06 13:09] #79 closed

[2022-01-07 20:32] rdbaron opened #91 "Limit to returned row in Players Collection?"
Hello!

I'm trying to use Collections for the first time and I'm wondering if the behaviour I'm seeing is expected, or if I'm just doing something wrong.

I'm trying to use players.leagues(league_id) and I am only getting back 25 players from that league.  I can use the `count` filter to retrieve fewer than 25, but setting it higher than 25 does not increase the number returned.

Is this expected?

[2022-01-08 02:46] rdbaron commented on #91
I notice I can manually page through the results using the `start` filter, but I'm still wondering if there is a better way.

[2022-01-08 02:57] rdbaron commented on #91
Looks like this is the expected behaviour, and the best known solution.

[2022-01-08 02:57] #91 closed

[2022-01-13 17:13] whatadewitt commented on #91
Sorry I missed this, but glad you got it sorted :)

[2022-01-17 23:26] blark012 opened #93 "Players.Leagues Doc Is Not Pluralized"
https://yahoo-fantasy-node-docs.vercel.app/collection/players/league should be 'leagues'. In the collection drop down it league needs to be pluralized as leagues. In the 'How to use' section the code references yf.players.league and it needs to be yf.players.leagues.

This app is amazing! Thank you!

[2022-01-18 14:38] whatadewitt commented on #93
Good eye! I am updating that now!

[2022-01-18 14:38] #93 closed

[2022-02-24 05:58] petegriffith opened #96 "O-rank access?"
Is there a way to access a player's pre-draft o-rank via the API?

Thanks!

[2022-02-24 07:02] petegriffith commented on #91
So if I'm understanding correctly, there's no way to fetch all of the stats of the players on my team if my team has more than 25 players? Is there a workaround that doesn't involve a collection?

[2022-02-24 11:38] whatadewitt commented on #96
Unfortunately not. That's a unique thing to Yahoo that they don't expose :(

[2022-02-24 11:38] #96 closed

[2022-02-24 11:43] whatadewitt commented on #91
@petegriffith You could get all of the players individually and query player.stats with their ids, but it would be easier to use the players.teams collection with your team key, and then just use the "start" filter and subresource to get each of the pages you need.

[2022-02-25 01:14] petegriffith commented on #91
@whatadewitt Thanks. Can you direct me to the page in the docs that will help me with that approach? For now it looks like the players.teams link is broken https://yahoo-fantasy-node-docs.vercel.app/collection/players/team

[2022-02-25 01:27] whatadewitt commented on #91
https://yahoo-fantasy-node-docs.vercel.app/collection/players/teams is working for me when I navigate from the nav, but not directly :|

[code]
should work... I'll figure out why I can't get there directly!

[2022-02-25 01:50] petegriffith commented on #91
Got it, thanks! Two questions:
- Why can I return all 32 players if I set start to 0? I would have assumed Yahoo limited to 25 to limit bandwidth drain?
- Looks like I can't pass an array of team names as the first argument to get multiple team datasets. If that's the case, why is the returned dataset an array of one object?

[2022-02-25 01:52] whatadewitt commented on #91
You need to use the team keys, which would be like mlb.l.LEAGUE_ID.t.TEAM_ID

As far as 32, that would be a question for Yahoo! Maybe it’s a happy
accident or it’s set to return all players with that particular call?

On Thu, Feb 24, 2022 at 9:50 PM Pete Griffith ***@***.***>
wrote:

[2022-02-25 02:05] petegriffith commented on #91
Yep, sorry, I am trying to use the team key as you say, not the team name. When I add any more than one team key to an array, I get a TypeError:

`TypeError: Cannot read properties of undefined (reading '0')
    at mapStats (C:\Users\XXXXXX\Dev\Baseball-project\kaku-server\node_modules\yahoo-fantasy\helpers\playerHelper.mjs:41:30)`

[2022-02-25 11:10] whatadewitt commented on #91
That sounds like a bug… I will investigate

On Thu, Feb 24, 2022 at 10:05 PM Pete Griffith ***@***.***>
wrote:

[2022-02-27 01:03] whatadewitt commented on #91
@petegriffith indeed there was a bug on the docs site that has been resolved. hope you find what you're looking for!!

[2022-04-18 16:42] jimdubbs opened #97 "User Resources return Unauthorized"
When consuming this package, I am explicitly setting the yahoo access/refresh tokens instead of using the auth callbacks.

All collections for private leagues are working, however when I try to request the current users games/leagues it returns unauthorized. Im confused as to why this would be the case given the access token works for other private resources. I've looked through the service code a

[2022-04-20 18:49] whatadewitt commented on #97
That's strange... Are you able to get a response here using the Tester after logging in? https://yahoo-fantasy-node-docs.vercel.app/resource/user/games

[2022-07-17 00:53] coolsoftwaretyler commented on #29
Hey @whatadewitt - thanks for all your work on this. I used your documentation to write some custom libraries focused on fantasy football.

I've been seeing 999 errors which seem to be rate limits. You mentioned seeing them during development as well. Did you ever find any documentation or guidance about Yahoo sports API rate limits specifically? Any mention of "rate limit" in their docs specifica

[2022-07-18 14:25] Liam-OShea commented on #29
Hey @coolsoftwaretyler ,

I scoured the web a while ago looking for more info on the rate limit boundaries but there is practically no info, some figures I found did not match my experience at all and I think may have applied to older versions of Yahoo's API.

I did a bit of research  back then and was able to determine a rough figure for the number of batched calls I could make at once, you can c

[2022-07-18 15:21] coolsoftwaretyler commented on #29
Thanks, everyone!

@whatadewitt - that would be a huge help to me. I want to play by the rules, but they just haven't published them...

@Liam-OShea - your comment there is really helpful. I'm going to respond in that thread.

[2022-07-18 15:21] coolsoftwaretyler commented on #81
Hey @Liam-OShea - what was the time period for your 200 calls estimation? 1 second? 60 seconds? Something else?

[2022-07-18 15:35] Liam-OShea commented on #81
Probably a couple seconds, I would make a request and as soon as I received
the result make the next request. There may be different limits for
situations when you are making calls over a greater interval of time

On Mon., Jul. 18, 2022, 12:21 p.m. Tyler Scott Williams, <
***@***.***> wrote:

[2022-07-18 18:34] vinhlu7 opened #98 "Is there an API or way to query for player news/updates?"
Title ^. Was curious if there's a Yahoo API to pull player news/updates

[2022-07-20 12:43] #98 closed

[2022-07-25 11:26] whatadewitt commented on #29
@coolsoftwaretyler -- this was the response I got asking about rate limits:

[2022-08-04 03:16] jimweigandt opened #99 "Handling Secure Connection during Authentication"
I'm not sure if this is a specific question with the Yahoo API or falls under more of a general programming umbrella, but how do you handle the second leg of authentication to the Yahoo API while on localhost?

I get to the point where I agree my app to have access to the leagues I'm in, but upon hitting the callback, I get an error in Chrome that says "This site can't provide a secure connection"

[2022-08-08 13:12] whatadewitt commented on #99
I just generate an SSL cert and run the localhost server over HTTPS.

Something like this: https://medium.com/@greg.farrow1/nextjs-https-for-a-local-dev-server-98bb441eabd7 (note I just Googled this, didn't read it 😆 )

In the past you couldn't even use "localhost" in the callback URLs.

Hope this helps!!

[2022-08-09 00:35] ryus08 commented on #99
If you are just trying to use it manually, locally, and don't need a non-dev user to get a token themselves, you can set the callback url to `oob` (stands for Out of Bounds). The Yahoo auth flow will stay on Yahoo and display the authorization code. You can copy that into your code/config/disk and continue the flow locally

I.e. hit the following URL with your own client id:

https://api.login.yah

[2022-08-09 00:41] whatadewitt commented on #99
That’s right too! Thanks for that!!

On Mon, Aug 8, 2022 at 9:35 PM Marois ***@***.***> wrote:

[2022-08-10 13:43] #99 closed